//COLORS
$primary-color: #f6f6fc;
$primary-color-dark:#e1e1f4;
$secondary-color: #282263;
$tertiary-color: #ffa000;
$forth-color:#f25767;
$app-background:#024564;

$main-background-color: #f6f6fc;

//FONTS
$primary-font: 'Montserrat', sans-serif;
$secondary-font:'Anton', sans-serif;
$main-font-color:#1b1c1c;





//UTILITY CLASSES
.font-primary {
	font-family:$primary-font ;
}

.font-secondary {
	font-family:$secondary-font ;
}
.h-1 {
	font-size:4rem;
}
.h-2 {
	font-size:3.5rem;
}
.h-3 {
	font-size:3rem;
}
.h-4 {
	font-size:2.5rem;
}
.h-5 {
	font-size:2rem;
}
.f-125 {
	font-size:1.25rem;
}

.f-15 {
	font-size:1.5rem;
}
.f-2 {
	font-size:2rem;
}
.f-25 {
	font-size:2.5rem;
}
.f-3 {
	font-size:3rem;
}
.f-35 {
	font-size:3.5rem;
}
.f-4 {
	font-size:4rem;
}
.f-45 {
	font-size:4.5rem;
}
.f-5 {
	font-size:5rem;
}

@for $i from 1 through 10 {
	.w-#{$i}0 {
		width:10%*$i;
	}
	.h-#{$i}0 {
		height:10%*$i;
	}
}
.pos-relative {
	position: relative;
}
.over-hidden {
	overflow:hidden
}
.pointer {
	cursor: pointer;
}
//GLOBALS
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $app-background;
	font-family: $primary-font;
	color: $main-font-color;
	scroll-behavior: smooth;
}

.home-form-card {
	background-color: rgba(#024564, 0.5);
}
.home-form-card__textfield:deep(.v-messages)  {
  font-size: 1.5rem;
}


html {
		font-size:50% !important;
	}
@media (min-width:768px) {
	html {
		font-size:62.5% !important;
	}
}

//Z-INDEXESE 
$nav-menu-item : 300;
$nav-menu-background : 200;


.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
