//COLORS
$primary-color: #f6f6fc;
$primary-color-dark:#e1e1f4;
$secondary-color: #282263;
$tertiary-color: #ffa000;
$forth-color:#f25767;
$app-background:#024564;

$main-background-color: #f6f6fc;
$shadow-color:rgba(0,0,0,0.4);
$shadow-color-hover:rgba(0,0,0,0.3);
//FONTS
$primary-font: 'Montserrat', sans-serif;
$secondary-font:'Anton', sans-serif;
$main-font-color:#1b1c1c;





//UTILITY CLASSES
.font-primary {
	font-family:$primary-font ;
}

.font-secondary {
	font-family:$secondary-font ;
}

.f-125 {
	font-size:1.25rem
}
.f-15 {
	font-size:1.5rem
}
.shadow-bg {
background-color: $shadow-color !important;
}
.app-button-background {
	background-color: rgb(var(--v-theme-red));
}

@for $i from 1 through 10 {
	.h-#{$i} {
		font-size:4-($i*0.5) *1rem;
	}
	.f-#{$i} {
		font-size:$i*1rem;
	}
	.w-#{$i}0 {
		width:10%*$i ;
	}
	.h-#{$i}0 {
		height:10%*$i ;
	}
	.radius-#{$i} {
		border-radius: $i*2px ;
	}
}
.pos-relative {
	position: relative;
}
.over-hidden {
	overflow:hidden
}
.pointer {
	cursor: pointer;
}

//GLOBALS
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $app-background;
	font-family: $primary-font;
	color: $main-font-color;
	scroll-behavior: smooth;
}

.home-form-card {
	background-color: rgba(#024564, 0.5);
}
.home-form-card__textfield:deep(.v-messages)  {
  font-size: 1.5rem;
}

.v-field-label {
	font-size: 1.3rem !important;
}
html {
		font-size:50% !important;
	}
@media (min-width:768px) {
	html {
		font-size:62.5% !important;
	}
}

//Z-INDEXES
$nav-menu-item : 300;
$nav-menu-background : 200;

//ANIMATIONS
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
